html {
    font-family: "Istok Web", sans-serif;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 0;
}
p {
    font-size: 1.2em;
    font-weight: normal;
}

#outer-ipad {
    background-color: black;
    border-radius: 15px;
    width: 740px;
    height: 910px;
    position: relative;
}
#inner-ipad {
    width: 650px;
    height: 730px;
    margin: 90px 45px;
    background-color: white;
}
.small-circle {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    top: 37.5px;
    left: calc(50% - 7.5px);
}
.big-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: 3px solid white;
    box-sizing: border-box;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 20px);
}
#words-container {
    /* border: 2px solid blue; */
    width: auto;
    height: 85%;
    position: relative;
    box-sizing: border-box;
}
#words-container p {
    position: absolute;
    font-size: 1.8em;
}
#toolbar {
    /* border: 2px solid red; */
    box-sizing: border-box;
    height: 15%;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}
.button {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#question-button {
    background-color: #E1E1E1;
    opacity: 60%;
    color: #383838;
    width: 3em;
    height: 3em;
    align-self: center;
    cursor: pointer;
}
#send-button {
    background-color: #3B7CD7;
    color: white;
    position: absolute;
    right: 0.5em;
    width: 2.5em;
    height: 2.5em;
}
.fa-solid {
    font-size: 1.5em;
}
#textfield {
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
}
#textfield input {
    width: 100%;
    height: 75%;
    font-size: 1.5em;
    padding: 0.3em 2.5em 0.3em 0.8em;
    border-radius: 12px;
    background-color: rgba(225, 225, 225, .6);
    border: none;
}
.show {
    visibility: visible;
}
.hidden {
    display: none;
}
#text-container {
    text-align: center;
    padding: 2em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
}
#top-scores-container {
    height: 40%;
    width: 70%;
    background-color: rgba(225, 225, 225, .6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1em 2em;
}
.top-score-heading {
    text-decoration: underline;
}
.score-item {
    display: grid;
    grid-template-columns: repeat(3, 33%)
}
.align-left {
    text-align: left;
}
#play-again-button {
    background-color: #3B7CD7;
    border-radius: 15px;
    width: 258px;
    cursor: pointer;
    color: white;
}
#play-again-button p {
    /* font-weight: bold; */
    font-style: italic;
}
#instructions-container {
    padding: 2em;
    height: 85%;
    box-sizing: border-box;
    /* text-align: center; */
}